.workspace {
  width: 100%;
  background: url('../../images/first_back.png') no-repeat center;
  background-attachment: fixed;
  background-size: cover;

  .payment-loading {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 20vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-family: 'GoboldHeader', sans-serif;
    padding: 4em 3em 0;

    .workspace-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      button {
        margin-bottom: 20px;
        width: 500px;
        background-color: #000;
        padding: 0.5em 0;
        border: none;
        color: #fff;
        font-family: 'GoboldHeader', sans-serif;
        font-size: 30px;

        &:last-child {
          margin-left: 20px;
        }
      }
    }

    .account {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-info {
        padding: 0 2em;
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 16px));
        grid-column-gap: 32px;

        div {
          margin-bottom: 2em;
          display: flex;
          justify-content: space-between;

          span {
            font-size: 1.4em;
          }
        }
      }
    }

    .workspace-title {
      text-align: center;
      font-size: 3em;
      width: 100%;
    }

    .workspace-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .purchase-item {
        width: calc(25% - 8px - 2em);
        margin: 0 auto;
      }

      p {
        text-align: left;
      }
    }
    
    .workspace-prices {
      div {
        display: flex;

        span:first-child {
          width: 200px;
          text-align: left;
        }

        span:last-child {
          margin-left: 1em;
        }
      }
    }

    .remark {
      padding: 0 20%;
      text-align: center;
      font-size: 0.8em;
    }

    .purchases {
      display: flex;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-gap: 16px;
      margin-top: 2em;
    }

    .purchase-item {
      background-color: #f5ede6;
      color: #292929;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 2px;
      position: relative;
      padding: 0 1em;

      h3 {
        margin-bottom: 10px;
      }

      .purchase-remark {
        position: absolute;
        bottom: 1em;
        color: #678670;
        font-size: 0.6em;
        margin: 0 auto;
        font-weight: bold;
      }

      .purchase-amount {
        font-size: 1.2em;
        font-weight: bold;
      }

      button {
        margin-top: auto;
        margin-bottom: 2em;
        padding: 0.5em 0;
        width: 80%;
        font-size: 20px;
        font-family: 'Second', sans-serif;
        font-weight: bold;
        background-color: #eb5349;
        border: none;
        border-radius: 40em;
        color: #fff;
      }
    }

    .donate {
      margin: 0 auto 40px;

      div {
        background: url('../../images/donate.svg') no-repeat center;
        background-size: cover;
        width: 200px;
        height: 110px;
        margin: 0 auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: 'GoboldHeader', sans-serif;

        a {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .workspace {
    &-wrapper {
      padding: 1em;

      .workspace-block {
        .purchase-item {
          width: 50%;
        }
      }

      .account {
        align-items: center;
        &-info {
          padding: 0;
          grid-template-columns: repeat(1, 100%);
          width: 100%;

          div {
            flex-direction: column;
          }
        }
      }

      .workspace-button {
        flex-direction: column;

        button {
          width: 100%;
          margin-left: 0 !important;
        }
      }

      .purchases {
        grid-template-columns: repeat(2, calc(50% - 8px));
        grid-gap: 16px;

        button {
          width: 80% !important;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}