.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  letter-spacing: normal;
  font-family: 'Description', sans-serif;
  font-weight: bold;
  margin-top: 100px;

  button {
    height: 75px;
    cursor: pointer;
    background-color: rgba(203,25,25,.8);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 20em;
    border: solid #75726f 0px;
    color: #fff;
    font-size: 30px;
    padding: 0 1em;
    text-transform: uppercase;
    font-family: "GoboldHeader", sans-serif;
    margin-top: 80px;
  }

  .description-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      width: 400px;

      a {
        text-decoration: none;
      }

      &:first-child {
        span {
          &::before {
            content: 'Free Live Streaming Content';
          }

          &::after {
            content: 'Free Live Streaming Content';
          }
        }
      }

      &:last-child {
        span {
          letter-spacing: 0.04em;
          &::before {
            content: 'Interactive Paid Experience';
          }

          &::after {
            content: 'Interactive Paid Experience';
          }
        }
      }

      span {
        position: relative;
        font-size: 2.5em;
        font-family: 'Description', sans-serif;
        white-space: nowrap;
        margin-top: 20px;
        width: max-content;
        text-transform: none;
        z-index: 1;
        letter-spacing: 0.02em;
        text-align: left;

          &::before {
            content: '';
            position: absolute;
            color: rgba(253,56,121,.5);
            left: -2px;
            top: -3px;
            font-family: 'Description', sans-serif;
            z-index: -1;
          }

          &::after {
            content: '';
            position: absolute;
            color: rgba(0,140,227, .5);
            left: 2px;
            top: 3px;
            font-family: 'Description', sans-serif;
            z-index: -1;
          }
      }

      img {
        width: 100%;
      }
    }
  }

  * {
    text-transform: uppercase;
    color: #fcfcfc;
  }

  p {
    font-weight: 600;
    font-size: 70px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 100px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  }

  span {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    text-transform: unset;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    font-family: 'First', sans-serif;
  }

  .arrow {
    height: 52px;
    width: 17px;
    transform: rotate(180deg);
    stroke-width: 0;
    fill-opacity: 1;
    stroke: rgb(237, 21, 102);
    stroke-opacity: 1;
    fill: rgb(252, 252, 252);
    cursor: pointer;
  }
}

@media only screen and (max-width: 1200px) {
  .description {
    width: calc(100% - 4em);
    padding: 0 2em;
    margin-top: 32px;

    button {
      margin-bottom: 40px;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 1.5em;
      letter-spacing: 0.05em;
      margin-top: -8px
    }

    span {
      font-size: 15px;
      margin-bottom: 18px;
      line-height: 1.4em;
    }

    svg {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .description {
    height: max-content;

    .description-buttons {
      flex-direction: column;

      div {
        width: 100%;
        margin-bottom: 4em;

        span {
          font-size: 2em;
        }
      }
    }
  }
}