#launchContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:#000;
  color:#fff;
  overflow:hidden;
}

#launchContainer button {
  margin-bottom: 20px;
  width: 500px;
  background-color: #000;
  padding: 0.5em 0;
  border: none;
  color: #fff;
  font-family: 'GoboldHeader', sans-serif;
  font-size: 30px;

}

#launchContainer iframe {
  position: absolute;
  top:-58px;
  left:0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#launchContainer button {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rotateMessage {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  img {
    width:250px;
    object-fit: contain;
  }
}