@font-face {
  font-family: 'Description';
  src: url("./fonts/description.woff2")format("woff2");
}

@font-face {
  font-family: 'GoboldHeader';
  src: url("./fonts/file.woff2")format("woff2");
}

@font-face {
  font-family: 'First';
  src: url('./fonts/third.woff')format("woff");
}

@font-face {
  font-family: 'Second';
  src: url('./fonts/fourth.woff2')format("woff2");
}

@font-face {
  font-family: 'Third';
  src: url('./fonts/second.woff2')format("woff2");
}

html {
  height:100%;
}

body {
  background:#000;
  overflow-x:hidden;
  margin: 0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input {
  outline: none;
}

button, input[type="checkbox"] {
  cursor: pointer;
}

#errors {
  margin: 1em 0;
  color: red !important;
}

.non-clickable-button {
  background-color: gray;
}

.confirm-page {
  background: url('./images/first_back.png') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  
  section {
      min-height: calc(100vh - 256px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'GoboldHeader',sans-serif;
      font-size: 50px;
  }
}